* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #E4F0D1;
}
header {
    border-bottom: 1px black solid;
}
main {
    background-color: #E4F0D1;
    margin: 30px;
    
}
section {
    background-color: #E4F0D1;
    margin: 30px;
}
.logo {
    width: 200px;
    height: 100px;
}

.fuentes {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.navbar {
    background-color: #9CC856;
}

.navbar-nav a {
    color: white;
}

.texto-car {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.foto-t {
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

.col-md-6 {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.fuente-t {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer {
    background-color: #9CC856;
}
.titulo {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.imagen-qs {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    
}
.p-h1 {
    margin: 50px;
    white-space: pre-line;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}
.p-h {
    margin: 30px;
    white-space: pre-line;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}
